<%- include('../../include/header') %>
    <%- include('../../include/navbar') %>

    <div class="p-8 min-h-screen mx-auto <%= userData.isAdmin ? 'bg-[#1d222b] text-white' : '' %>">
        <h1 class="text-4xl">Admin Dashboard</h1>
        <hr class="my-3">
        <div class="mt-3 bg-white/10 p-6 rounded-lg">
            <h4 class="font-bold text-2xl"><u>รายการการจองทั้งหมด</u></h4>
            <div class="pl-8">
                <% orders.forEach(order => { %>
                    <div class="mt-4 w-[80%] bg-[#201c34] p-4 rounded shadow">
                        <h4 class="text-xl"><%= order.restaurant.name %></h4>
                        <hr class="my-2">
                        <h4 class="text-lg underline">ข้อมูล</h4>
                        <div class="pl-4 mt-2">
                            <p class="text-sm">ผู้จอง : <%= order.booker ? `${order.booker.prefix}${order.booker.firstname} ${order.booker.lastname}` : '--Unknown Booker--' %></p>
                            <p class="text-sm">จำนวนที่นั่ง : <%= order.seatsAmount %> ที่นั่ง</p>

                            <% 
                                const sendTime = new Date(order.sendingDateTime).getTime();
                                const formattedSendTime = new Date(sendTime).toLocaleString();

                                let sendTimeList = formattedSendTime.split(' ')

                                let finalSendTimeDate = `${sendTimeList[0]} เวลา ${sendTimeList[1].substr(0, 5)} น.`;
                            %>
                            <p class="text-sm">จองเมื่อ : <%= finalSendTimeDate %></p>
                            <% 
                                const time = new Date(order.orderDateTime).getTime();
                                const formattedDate = new Date(time).toLocaleString();

                                let myList = formattedDate.split(' ')

                                let finalFormattedDate = `${myList[0]} เวลา ${myList[1].substr(0, 5)} น.`;
                            %>
                            <p class="text-sm">เวลามา : <%= finalFormattedDate %></p>
                        </div>
                        <hr class="my-2">
                        <div class="py-2 mt-2">
                            <a class="text-white bg-red-500 p-1 transition duration-200 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm text-center md:mr-0" href="/api/order/delete?id=<%= order._id %>">ลบ</a>
                        </div>
                    </div>
                <% }) %>
            </div>
            
        </div>
    </div>
        <%- include('../../include/footer') %>