<%- include('../../include/header') %>
    <%- include('../../include/navbar') %>

    <div class="px-16 py-8 mx-auto">
        <div class="lg:flex">
            <div class="lg:w-1/2">
                <% if (restaurantData.imageUrl) { %>
                    <img class="object-contain lg:h-96 w-full" src="/uploads/<%= restaurantData.imageUrl %>" alt="" />
                <% } else { %>
                    <img src="/img/placeholder.png" class="object-contain lg:h-96 w-full" alt="">
                <% } %>
                
            </div>
            <div class="lg:w-1/2 p-4">
                <div class="flex items-baseline justify-between">
                    <h1 class="lg:text-5xl font-bold lg:font-normal text-xl text-center lg:text-left my-3"><%= restaurantData.name %></h1>
                    <div class="pr-4">
                        <a href="/api/user/update/fav?shopId=<%= restaurantData._id %>&isFav=<%= userData.favRestaurants.includes(restaurantData._id) %>">
                            <% if (userData.favRestaurants.includes(restaurantData._id)) { %>
                                <img src="/img/filledHeart.png" class="w-8" alt="">
                            <% } else { %>
                                <img src="/img/heart.png" class="w-8" alt="">
                            <% } %>
                        </a>
                    </div>
                </div>
                <p><b>เบอร์โทรศัพท์ :</b> <%= restaurantData.phoneNumber %></p>
                <% if (restaurantData.ggMapsLink) { %>
                    <p><b>Google Maps :</b> <a href="<%= restaurantData.ggMapsLink %>" class="text-sky-500 hover:underline">ไปที่ Google Maps</a></p>
                <% } %>
                <p><b>ตำแหน่งร้านอาหาร :</b> <%= restaurantData.address %></p>
                <p><b>เหลือจำนวนที่นั่ง :</b> <%= restaurantData.allSeats - restaurantData.onHands %>/<%= restaurantData.allSeats %> ที่นั่ง</p>
                <hr class="my-3">
                <p class="lg:indent-4 text-center lg:text-left"><%= restaurantData.detail === '' ? 'ไม่มีรายละเอียด' : restaurantData.detail %></p>
                <hr class="my-3">
                <div class="flex justify-center mt-3">
                    <div class="p-4 ">
                        <a href="/restaurant/<%= restaurantData._id %>/orderInform"
                            class="p-3 border hover:bg-red-500 rounded-lg border-red-500 lg:text-3xl text-base font-semibold text-red-500 hover:text-white transition-all duration-200">จองที่นั่งเลย
                            !</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-2">
        <h1 class="lg:text-4xl text-3xl mt-5 text-center">ร้านอาหารอื่น ๆ</h1>
        <div class="grid mt-6 mb-6 mx-8 space-y-4 lg:grid-cols-6">

            <% 
                let otherRestaurants = restaurants.filter(restaurant => !restaurant.equals(restaurantData._id));
            %>
            <% otherRestaurants.reverse().forEach(restaurant => { %>
                <div
                    class="max-w-[180px] overflow-hidden bg-white border shop border-gray-200 rounded-md shadow">
                    <div class="object-cover relative">
                        <% if (restaurant.imageUrl) { %>
                            <img class="object-cover h-40 w-96" src="/uploads/<%= restaurant.imageUrl %>" alt="" />
                        <% } else { %>
                            <img class="object-cover h-40 w-96" src="/img/placeholder.png" alt="" />
                        <% } %>
                    </div>
                    <div class="px-4 py-2">
                        <p class="mb-1 text-lg font-bold text-black"><%= restaurant.name %></p>
                        <p class="font-normal text-sm text-slate-500">เหลือที่นั่งว่างอยู่ : <%= restaurant.allSeats - restaurant.onHands %>/<%= restaurant.allSeats %> ที่นั่ง</p>
                        <% if (userData) { %>
                            <a <% if (userData.ownRestaurants.includes(restaurant._id)) { %>
                                href="/restaurant/<%= restaurant._id %>/manage"
                            <% } else { %>
                                href="/restaurant/<%= restaurant._id %>/detail"
                            <% } %>
                                class="wow text-lg font-normal <%= userData.ownRestaurants.includes(restaurant._id) ? 'text-red-600' : 'text-yellow-700' %>"><%= userData.ownRestaurants.includes(restaurant._id) ? 'จัดการร้าน' : 'ดูรายละเอียด' %></a>
                        <% } else { %>
                            <a href="/restaurant/<%= restaurant._id %>/detail" class="wow text-lg font-normal text-yellow-700">ดูรายละเอียด</a>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
        <%- include('../../include/footer') %>

<style>


</style>